<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenfangming.manage.persistence.mapper.RoleMapper">
    <!-- 全字段映射关系 -->
    <resultMap id="ROLE_RESULT_MAP" type="com.chenfangming.manage.persistence.entity.RoleEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="enabled" property="enabled"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 根据用户id查询角色-->
    <select id="selectByUserId" resultMap="ROLE_RESULT_MAP">
        SELECT r.`id`,
               r.`name`
        FROM backend_user_role ur
                 INNER JOIN backend_role r
                            ON ur.role_id = r.id
        WHERE ur.enabled = 1
          AND r.enabled = 1
          AND ur.user_id = #{userId}
    </select>

</mapper>
