<configuration scan="true" scanPeriod="100 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M[%L]--%msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 此处只将下的所有日志输出到控制台,文件，不向上级传递(防止重复写入日志) -->
    <logger name="com.chenfangming.task" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- 默认输出该级别的日志,输出到控制台,文件等 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
